.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

::selection {
  background-color: cyan;
  color: white;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px solid #fff;
}

::-webkit-scrollbar-thumb {
  background: #F82249;
  border: 0px solid #fff;
  border-radius: 5px;
  height: 300px;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #f82249;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #f94a6a;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

html, body, html *, body * {
	 cursor: none;
	/* overflow-x: hidden; Hide horizontal scrollbar */
}
 .cursor-dot, .cursor-dot-outline {
	 pointer-events: none;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 border-radius: 50%;
	 opacity: 0;
	 transform: translate(-50%, -50%);
	 transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	 z-index: 9999;
}
 .cursor-dot {
	 width: 9px;
	 height: 9px;
	 background-color: #52a3b6;
}
 .cursor-dot-outline {
	 width: 25px;
	 height: 25px;
	 background-color: rgba(125, 186, 200, 0.5);
}
a {
    cursor: default; /* Remove hand cursor from links */
}
