---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "404 Not Found" includeSidebar={true}>
  <div class="text-center">
    <!--<h1 class="text-9xl font-bold mb-4"></h1>-->
    <h1 class="text-9xl font-bold mb-2"><img src="https://wayanadiitm.github.io/ml/events/logicloom1/assets/img/owl-whattt.png"></img></h1>
    <h3 class="text-2xl">Oops! You lost your way. Eliminate distractions & focus on the contest ツ</h3>
    <a class="btn btn-accent mt-9" href="/">Go Back</a>
  </div>
</BaseLayout>
