---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Achievers" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Top Achievers</div>
<p>Presenting the top 5 rankers of the 3rd edition of LogicLooM</p>
  </div>

  <div class="mb-10 text-justify">
 <div class="overflow-x-auto">
      <table class="table-auto w-full border-collapse border rounded-lg">
        <thead>
          <tr class="bg-yellow-500 text-white">
            <th class="px-4 py-2 border border-gray-300 rounded-tl-lg">SL</th>
            <th class="px-4 py-2 border border-gray-300">RANK</th>
            <th class="px-4 py-2 border border-gray-300 rounded-tr-lg">PARTICIPANT NAME</th>
          </tr>
        </thead>
        <tbody class="bg-white text-gray-700">
          <tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">1</td>
            <td class="px-4 py-2 border border-gray-300 text-center">1</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Siddharth Roy</td>
          </tr>
          <tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">2</td>
            <td class="px-4 py-2 border border-gray-300 text-center">1</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Sundaresh Kartic Ganesan</td>
          </tr>
          <tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">Alice Johnson</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Community Leader</td>
            <td class="px-4 py-2 border border-gray-300 text-center">2025</td>
          </tr>
        </tbody>
      </table>  

    </div>
  </div>


  

</BaseLayout>
