---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Achievers" sideBarActiveItemID="cfp">
  <div class="mt-5 mb-5">
    <div class="text-3xl w-full font-bold">Top Achievers</div>
<p>We are pleased to present the top 5 ranked participants of the 3rd edition of LogicLooM, who have qualified for the prestigious 13K prize pool. In addition, we would like to extend special recognition to the next 15 participants, 
who will receive vouchers totaling INR 7.5K as part of our Special Mention category - such participants will be informed via mail shortly.</p>
  </div>

  <div class="mb-10 text-justify">
 <div class="overflow-x-auto">
      <table class="table-auto w-full rounded-lg">
        <thead>
          <tr class="bg-yellow-500 text-white">
            <th class="px-4 py-2 border border-gray-300 rounded-tl-lg">SL</th>
            <th class="px-4 py-2 border border-gray-300">RANK</th>
            <th class="px-4 py-2 border border-gray-300 rounded-tr-lg">PARTICIPANT NAME</th>
          </tr>
        </thead>
        <tbody class="bg-white text-gray-700">
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">1</td>
            <td class="px-4 py-2 border border-gray-300 text-center">1</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Siddharth Roy</td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">2</td>
            <td class="px-4 py-2 border border-gray-300 text-center">1</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Sundaresh Kartic Ganesan</td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">3</td>
            <td class="px-4 py-2 border border-gray-300 text-center">2</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Debapriyo Saha</td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">4</td>
            <td class="px-4 py-2 border border-gray-300 text-center">2</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Krish Gupta</td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">5</td>
            <td class="px-4 py-2 border border-gray-300 text-center">2</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Sudhish Kumar</td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">6</td>
            <td class="px-4 py-2 border border-gray-300 text-center">3</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Harsh Kumar</td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">7</td>
            <td class="px-4 py-2 border border-gray-300 text-center">3</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Darshan Kumar</td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">8</td>
            <td class="px-4 py-2 border border-gray-300 text-center">4</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Sai Naman</td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">9</td>
            <td class="px-4 py-2 border border-gray-300 text-center">4</td>
            <td class="px-4 py-2 border border-gray-300 text-center">Amritanshu Prasad</td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">10</td>
            <td class="px-4 py-2 border border-gray-300 text-center">5</td>
            <td class="px-4 py-2 border border-gray-300 text-center"></td>
          </tr>
<tr class="hover:bg-gray-100">
            <td class="px-4 py-2 border border-gray-300 text-center">11</td>
            <td class="px-4 py-2 border border-gray-300 text-center">5</td>
            <td class="px-4 py-2 border border-gray-300 text-center"></td>
          </tr>
        </tbody>
      </table>  

    </div>
  </div>


  

</BaseLayout>
