---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Bonus Task" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Bonus Quiz 🎉</div>
  </div>

  <div class="mb-10 text-justify">
<li>Before you sail through the actual Algorhythmic Journey, let's help you increase some points. 💥</li>
<li>The purpose of hosting the bonus task before the event begins is to keep you engaged with something fun, thought-provoking and constructive. The bonus points will be valuable during the contest rounds where a specific cut-off is needed.</li>
<li>This spans a wide range of domains and topics - they will have a technical essence but <b>very much solvable for beginners</b> as well.</li>
<li>Deadline for submission - 1st Jan 2025. We suggest you to <b>keep submitting every day</b>.</li>
<li>Since team formations haven't begun yet, you can submit this individually now. After mapping, if multiple team mates submit from the same team are found to have submitted this bonus quiz, the best score will be considered for the team bonus points.</li>
<li>There's no negative marking. <b>New problems will be added in the same link each day until the main Round-1 contest begins</b>. Continue submitting and coming back to answer the latest ones. <b>Answers can be edited as many times before the due date and last submission will be considered.</b></li>
    </div>
<div class="mt-5">
      <a href="https://forms.gle/RtS8gMdBLQ2m9zWT8" target="_blank" class="btn btn-outline bg-green-500 text-white border-2 border-transparent py-2 px-4 font-semibold rounded-lg hover:bg-green-400 transition-all">
        View Problems <i class="fa fa-play" aria-hidden="true"></i>
      </a>
  

</BaseLayout>
