---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Bonus Task" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Bonus Quiz</div>
  </div>

  <!--<div class="mb-10 text-justify">
  <li></li>
    </div>-->

<div class="mb-10 w-full">
 <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfpcKpGesOQSnICXHQljTrofL-AojY6Ti8R5m9fCmfTPWXoFw/viewform?embedded=true"  width="100%" height="2175" style="border:0;" frameborder="0" marginheight="0" marginwidth="0" allowfullscreen="" loading="lazy"></iframe> 
  </div>
  

</BaseLayout>
