---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Bonus Task" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Bonus Quiz</div>
  </div>

  <div class="mb-10 text-justify">
<li>Before you sail through the actual Algorhythmic Journey, let's help you increase some points. 💥</li>
<li>Deadline for submission - 1st Jan 2025</li>
<li>Since team formations are still in progress for many, if multiple team mates submit from a team, the best score will be considered for the team.</li>
<li>We will keep adding the problems here till 31st Dec 2024. Continue submitting and coming back to answer the new ones. Answers can be edited as many times before the due date.</li>
    </div>
<div class="mt-5">
      <a href="https://forms.gle/RtS8gMdBLQ2m9zWT8" target="_blank" class="btn btn-outline bg-green-500 text-white border-2 border-transparent py-2 px-4 font-semibold rounded-lg hover:bg-green-400 transition-all">
        View Problems <i class="fa fa-play" aria-hidden="true"></i>
      </a>
  

</BaseLayout>
