---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="Organizing Committee" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Program Chairs (2025)</div>
  </div>

  <div class="overflow-x-auto mb-20">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Position</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        

        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="/la.jpeg"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Lilas Alrahis</div>
                <div class="text-sm opacity-50">United Arab Emirates</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            Khalifa University
            <br />
            <!--<span class="badge badge-ghost badge-sm"
              >Assistant Professor</span
            > -->
          </td>
          <td class="text-center">
            <a
              href="https://www.linkedin.com/in/lilas-alrahis-b68416212/"
              target="_blank"
              class="mx-3"
              aria-label="Linkedin"
              title="Linkedin"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                style="fill: currentColor;transform: ;msFilter:;"
                ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                  d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                ></path>
              </svg>
            </a>
          </td>
        </tr>
                <!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="/sv.jpeg"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Silviu Vlasceanu</div>
                <div class="text-sm opacity-50">Germany</div>
              </div>
            </div>
          </td>
            <td class="text-center">
            Huawei
            <br />
            <!-- <span class="badge badge-ghost badge-sm"
              >Head of Trusted System Security Lab</span
            >
            </td> -->
          </td>
          <td class="text-center">
            <a
              href="https://www.linkedin.com/in/vlasceanu/"
              target="_blank"
              class="mx-3"
              aria-label="Linkedin"
              title="Linkedin"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                style="fill: currentColor;transform: ;msFilter:; v"
                ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                  d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                ></path>
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mb-10">
    <div class="text-3xl w-full font-bold">Publicity Chairs (2025)</div>
  </div>

  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Position</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="/dg.jpeg"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Dominik Germek</div>
                <div class="text-sm opacity-50">Germany</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            Bosch Research
            <br />
            <!--<span class="badge badge-ghost badge-sm"
              >Team Lead, Cybersecurity Research</span
          > -->
          </td>
          <td class="text-center">
            <a
              href="https://www.linkedin.com/in/dominik-germek/"
              target="_blank"
              class="mx-3"
              aria-label="Linkedin"
              title="Linkedin"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                style="fill: currentColor;transform: ;msFilter:; v"
                ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                  d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                ></path>
              </svg>
            </a>
          </td>
        </tr>
        <!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="/fm.jpeg"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Farhad Merchant</div>
                <div class="text-sm opacity-50">Netherlands</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            University of Groningen
            <br />
            <!--<span class="badge badge-ghost badge-sm">Assistant Professor</span> -->
          </td>
          <td class="text-center">
            <a
              href="https://www.linkedin.com/in/farhad-merchant-7996a04/"
              target="_blank"
              class="mx-3"
              aria-label="Linkedin"
              title="Linkedin"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                style="fill: currentColor;transform: ;msFilter:;"
                ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                  d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                ></path>
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="max-w-2xl mx-auto px-5 mt-28">
    <div class="flex flex-col justify-center">
      <div class="divider">Organized By</div>


      <div
        class="flex flex-wrap items-center justify-center gap-10 mt-2 md:justify-around"
      >
        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src="/Huawei-Logo.svg"
            width={150}
            height={150}
            format="webp"
            alt="Huawei Logo"
            class="max-w-full md:max-w-[10rem] rounded-lg"
          />
        </div>

        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src="/khalifauni.png"
            width={150}
            height={150}
            format="webp"
            alt="Khalifa University Logo"
            class="max-w-full md:max-w-[8rem] rounded-lg"
          />
        </div>

        <div class="text-gray-400 bg-white p-4 rounded-lg shadow width:10">
          <Image
            src="/Bosch.svg"
            width={150}
            height={150}
            format="webp"
            alt="Bosch Logo"
            class="max-w-full md:max-w-[8rem] rounded-lg"
          />
        </div>
        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src="/unig.png"
            width={150}
            height={150}
            format="webp"
            alt="University of Groningen Logo"
            class="max-w-full md:max-w-[8rem] rounded-lg"
          />
        </div>
      </div>
    </div>
  </div> -->
</BaseLayout>
