---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Contact Us" sideBarActiveItemID="contact">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Feel free to connect!</div>
  </div>

  <div class="mb-10 text-justify">
    Event Organizers,<br>
Technicals - IITM Paradox (General Student Body, Student Affairs),<br>
Chennai 600036

<br><br>

      <a href="mailto:logicloom@ds.study.iitm.ac.in" target="_blank">
      <button class="btn btn-primary ml-5">Send Email <i class="fa fa-external-link"></i></button>
      </a>

    </div>
  </div>

  <!--<div class="mb-5">
    <div class="text-3xl w-full font-bold">Venue</div>
  </div>

  <div class="mb-10 text-justify">
   online
    <div class="mt-8">
      <a href="/" target="_blank" class="btn btn-outline ml-5">
      More info
      </a>
    </div>
    </div>-->
  </div>

  <div class="mb-10">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6926708693372!2d80.23111577412065!3d12.991498114443619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267f29aa9a61f%3A0x24ef264085e6a094!2sIndian%20Institute%20Of%20Technology%E2%80%93Madras%20(IIT%E2%80%93Madras)!5e0!3m2!1sen!2sin!4v1733031416151!5m2!1sen!2sin"  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
  </div>

<div class="mb-5">
    <div class="text-3xl w-full font-bold">TnCs and Privacy Policy</div>
  </div>
<div class="mb-10 text-justify">
The access or use of our website or features, automatically indicates your acceptance of the rules and Terms and Conditions ('TnCs').
   <br><br>
        General Terms: This website is used only for the purpose of our event 'LogicLooM' which is being hosted at Paradox in Margazhi 2024 and will be maintained or managed by
        members who are handling the operational work from our event organizing team till a week after the event ends. Terms like 'us', 'we', 'our' refer to the
        LogicLooM organizing team members (event head(s), coordinator(s) and volunteers). Terms like 'you', 'your' refer to the student or user or the event participant.
        <br><br>
        
      All contents and materials (including but not limited to text, graphics, logos, images, and software) available on this website and the 'online exam management system' where the contest is being hosted, are
        owned, copyrighted by the team and respective owner respectively. The same CANNOT be copied, modified, pasted, distributed, reproduced for any purposes by anyone. Any such acts will result in action.
        <br><br>

        We will not be liable for any kind of damage or issues arising from the use or access of this website, the online examination portal, or our features. The site may contain
        third-party links (which donot belong to us in anyway, outside this and the online exam portal domain) like the visitor counter, external resources for the event content, external images etc, for better site experience. Note
        that you are solely responsible for viewing or accessing such external sources. Again, we won't be responsible for any issues arising from visiting such third-party (external) links.

      
      <br><br>
        Event related Terms: <b>We strongly urge all participants to read the rules mentioned at <a href="https://logicloom.netlify.app/rules" target="_blank">logicloom.netlify.app/rules</a> thoroughly.</b> As mentioned,
        'participation' in this event, refers to successful participation which means, attempting and submitting atleast the Round 1 contest adhering to all the rules, regulations and Code of conduct (CoC) mentioned.
        Since, there's no option of in-person invigilation during the event, there are multiple proctoring and security features being used online to track each and every case of unfair means (UFM). Any casual behavior or ignoring or not abiding
        by even any one of the rules (cases like, but not limited to, time mismatch, sharing login credentials, taking snapshots of exam screen including questions, multiple logouts, unexpected 'away time' from the exam screen, high navigation counts, using multiple devices to access exam portal after the user started the exam, methods to trick the system, etc) will lead to auto-termination of exam or cancellation of your participation, since the entire process is being automated (if any one of integrity checks while being processed by our system doesn't pass, the submission will not be considered)  and there's no manual intervention needed.
    No excuses to be entertained from the user and no clarification or notification will be provided in such cases to the user from our end.
                                                                                                   
      <br><br>
      Incase of any technical issues faced on your end, we ask the participant to write to <a href="mailto:logicloom@ds.study.iitm.ac.in" target="_blank">us</a> immediately.
      We (the member concerned for technical operations and the volunteers) will try the best to assist & check, resolve the issue if the activity logs indicate proper integrity from your side, but it can't be guaranteed due to some operational and time constraints.
      Also, incase of any situations beyond control or unavoidable circumstances, the event date or schedule may be postponed or may be cancelled. We may bring in modifications to any contents (event rules, timeline, prizes, etc) available in the site, event rule book or brochure at any point of time, without any prior notice.
        <br><br>
        No offensive or abusive behavior towards the event team organizers shall be tolerated. Any damage brought by an user to any of the event property (online exam software/system, website, resources etc.) will also invite strict action. Appropriate measures will be taken against the participant, including cancellation of the participant status for our event.
        <br><br>The decision in every aspect, taken by the event head and coordinators is final and has to be accepted by the participant.                                                                                        
                                                                                                
        <br><br>
        We may update or modify these Terms of Use at any time without prior notice. Please feel free to contact us incase you have any questions.
        <br><br>
        Credit: Thanks to <a href="https://www.flaticon.com" target="_blank">Flaticon</a> for the free-to-use icons and stickers that've been used by us to design the website.
<br><br>
We take your privacy seriously and we are committed in protecting the information shared with us. This privacy policy explains how we collect, use, and share your personal information when you use our event website.
        <br><br>
      We receive your name, email and whatsapp number (as per submitted by you) only via the event registration form. No other personal or sensitive information is asked by us and we strongly suggest everyone
        to refrain from sharing any such details. The name and email are neccessary for the event records. The whatsapp number is collected for the purpose of verification while allowing you
      entry into the event Whatsapp group & will be used as one of the login credentials. The data remains only within us and the fest team and is never shared with anyone else.<br>
      Cookies: We are not using any cookies on this (logicloom.netlify.app) website. But, since the contest would be hosted via the dedicated, secure 'online exam management system' portal which is hosted on 000webhost (powered by Hostinger),
      there are various proctoring tools or features enabled in the portal to track user activities on the website through out the exam time and ensure highest possible exam integrity and track any cases of unfair means (UFM) adopted by any participant. Cookies may be
        enabled for a better exam experience and can also include your browser type, device IP.
       Further, you can read the privacy policy of the 000webhost hosting service.
      <br><br>
      We implement highest possible methods to protect the information shared with us, from any kinds of un-authorised access, disclosure, use etc. The data remains secure with us.
        Weeding policy: We store or retain the data only as long as necessary to fulfill the purposes for which it was collected. After 7 days from the end of the event, all event records, including
        name, email, whatsapp number, scores, exam monitoring and activity logs, etc. are permanently deleted from the exam server.
        <br><br>
        We may modify the privacy policy anytime without any prior notice, but the same shall reflect on this page, if any. The access or use of our website or features, automatically
        indicates your acceptance of the privacy policy. Incase you have any questions about the same, feel free to contact us.
</div>

</BaseLayout>
