---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Contact Us" sideBarActiveItemID="contact">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Feel free to connect!</div>
  </div>

  <div class="mb-10 text-justify">
    Event Organizers,<br>
Technicals - IITM Paradox (General Student Body, Student Affairs),<br>
Chennai 600036

<br><br>

<a href="mailto:logicloom@ds.study.iitm.ac.in" target="_blank">
<button class="btn btn-primary">Send Email <i class="fa fa-external-link"></i></button>
</a>
<br><br>
We usually send replies to queries that arrive via mail within one working day.
    </div>
  </div>

  <!--<div class="mb-5">
    <div class="text-3xl w-full font-bold">Venue</div>
  </div>

  <div class="mb-10 text-justify">
   online
    <div class="mt-8">
      <a href="/" target="_blank" class="btn btn-outline ml-5">
      More info
      </a>
    </div>
    </div>-->
  </div>

  <div class="mb-10">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6926708693372!2d80.23111577412065!3d12.991498114443619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267f29aa9a61f%3A0x24ef264085e6a094!2sIndian%20Institute%20Of%20Technology%E2%80%93Madras%20(IIT%E2%80%93Madras)!5e0!3m2!1sen!2sin!4v1733031416151!5m2!1sen!2sin"  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
  </div>

<div class="mb-5">
    <div class="text-3xl w-full font-bold">TnCs and Privacy Policy</div>
  </div>
<div class="mb-10 text-justify">
Accessing or using our website automatically indicates your acceptance of the rules and Terms and Conditions ('TnCs').
   <br><br>
        General Terms: This website is used only for the purpose of our event 'LogicLooM' which is being hosted at Margazhi 2025, the online techno-cultural fest of the BS Programs at IIT Madras and will be maintained or managed by
        the event organizing team till a week after the event ends. Terms like 'us', 'we', 'our' refer to the
        LogicLooM organizing team members (event head(s), coordinator(s) and volunteers). Terms like 'you', 'your' refer to the student or user or participant.
        <br><br>
        
      All contents and materials (including but not limited to text, graphics, logos, images, and software) available on this website are
        owned, copyrighted by the event cores. The same CANNOT be copied, modified, pasted, distributed, reproduced for any purposes by anyone. Any such acts will result in action.
        <br><br>

        We will not be liable for any kind of damage or issues arising from the use or access of this portal. The site may contain
        third-party links (which do not belong to us in anyway and are outside this domain) like visitor counter, external resources for the event, images etc. Note
        that you are solely responsible for viewing or accessing such external sources. Again, we won't be responsible for any issues arising from visiting such third-party links. 
      <br><br>
        Event related Terms: <b>We strongly urge all participants to read the event rules thoroughly.</b> As mentioned,
        'participation' in this event, refers to successful participation i.e. showing some activity or progress in any of the rounds, adhering to all the regulations and Code of conduct (CoC).
       Any case of unfair means (UFM) like plagiarism of code, not abiding
        by the rules, methods to trick the system, etc. will lead to cancellation of your participation.
    No clarifications to be entertained from the participant and no notification will be provided from our end either.                                                        
      <br><br>
      Incase of any technical issues faced on your end, we ask the participant to write to <a href="mailto:logicloom@ds.study.iitm.ac.in" target="_blank">logicloom@ds.study.iitm.ac.in</a> immediately.
      We will try the best to assist resolve the issue.<br><br>
      Incase of any situations beyond control or unavoidable circumstances, the event dates may be postponed or cancelled. We may bring in modifications to event rules, timeline, prizes, etc. available in the site, event rule book or brochure at any point of time, without any prior notice.
        <br><br>
        No offensive or abusive behavior towards the organizers shall be tolerated. Any damage brought by an user to any of the event property (portal, resources etc.) will invite strict action. Appropriate measures (as per IITM Non-academic misconduct guidelines) will be taken against the participant, including cancellation of the participant status for our event.
        <br><br>The decision taken by the event coordinators is final and binding in every aspect.                                                                                        
        <br><br>
        Credit: Thanks to Astrofy for the site template and <a href="https://www.flaticon.com" target="_blank">Flaticon</a> for the free-to-use icons and stickers used to design the website.
<br><br>
We take your privacy seriously and we are committed in protecting the information shared with us. This privacy policy explains how we collect, use, and share your personal information when you use our event website.
        <br><br>
      We receive your name, email and whatsapp number (as submitted by you) only via the event registration form on Paradox portal. No other personal or sensitive information is asked by us and we strongly suggest everyone
        to refrain from sharing any such details. The data remains secure within us only and is never shared with anyone else.<br>
      Cookies: We are not using any cookies on this website. There are various proctoring tools or features enabled in the portal to track user activities on the website through out the exam time and ensure highest possible exam integrity and track any cases of unfair means adopted by any participant. Cookies may be
        enabled for a better web experience and can also include your browser type, device IP.
       Further, you MUST read and accept the privacy policy of the GitHub and unaux hosting services where our static and participant-app portals have been hosted.
      <br><br>
      We implement highest possible methods to protect the information shared with us, from any kinds of un-authorised access, disclosure, use etc.<br><br>
        Weeding policy: We store or retain the data only as long as necessary to fulfill the purposes for which it was collected. After 7 days from the end of the event, all event records, including
        name, email, whatsapp number, scores, activity logs, etc. are permanently deleted from the portal server.
        <br><br>
        We may modify the TnCs or/and privacy policy anytime without any prior notice, and the same shall reflect on this page. Incase of any questions, feel free to contact us.
</div>
<div class="mb-5">
    <div class="text-3xl w-full font-bold">CoC</div>
  </div>
<div class="mb-10 text-justify">
<li>All participants are required to comply with the rules and regulations set forth for the event. Honesty and integrity are paramount. Any violation of these principles, including unfair practices, will result in immediate disqualification.</li>
<li>Should you encounter any issues during the event, please utilize the designated escalation matrix and promptly notify the event coordinators. Communication regarding event-related matters should be exclusively directed to logicloom@ds.study.iitm.ac.in or via personal DMs to the event organizers. The use of alternative communication mediums or platforms (posting screenshots from the portal in WhatsApp or Discord discussion spaces etc.) is strictly prohibited.</li>
<li>Maintaining the integrity of the event is essential. Any attempt to disseminate incorrect information, deviate from guidelines, or violate the event's code of conduct will result in strict action and cancellation of your participation status. The decision of the event organizing team and Paradox core team is final and binding in all circumstances.</li>
</div>
</BaseLayout>
