---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Contact Us" sideBarActiveItemID="contact">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Feel free to connect!</div>
  </div>

  <div class="mb-10 text-justify">
    Event Organizers,<br>
Technicals - IITM Paradox
<br><br>

<a href="mailto:logicloom@ds.study.iitm.ac.in" target="_blank">
<button class="btn btn-primary">Send Email <i class="fa fa-external-link"></i></button>
</a>
<br><br>
We usually send replies to queries that arrive via mail within one working day.<br><br>
<center><img src="/connect.svg" width="300" height="150"></center><br>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mb-6">
            <div class="bg-custom-darker p-6 rounded-lg shadow-lg">
                <div class="flex items-center justify-between">
                    <h3 class="text-lg font-semibold">Anirban</h3>
                    <span class="text-accent text-2xl font-bold"><i class="fa fa-phone"></i> 8584896142</span>
                </div>
                <p class="text-gray-400 mt-2">PR</p>
            </div>
            <div class="bg-custom-darker p-6 rounded-lg shadow-lg">
                <div class="flex items-center justify-between">
                    <h3 class="text-lg font-semibold">Rohit</h3>
                    <span class="text-accent text-2xl font-bold"><i class="fa fa-phone"></i> 9496978015</span>
                </div>
                <p class="text-gray-400 mt-2">PR</p>
            </div>
</div>
 </div>

  <!--<div class="mb-5">
    <div class="text-3xl w-full font-bold">Venue</div>
  </div>

  <div class="mb-10 text-justify">
   online
    <div class="mt-8">
      <a href="/" target="_blank" class="btn btn-outline ml-5">
      More info
      </a>
    </div>
    </div>-->

  <!--<div class="mb-10">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6926708693372!2d80.23111577412065!3d12.991498114443619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267f29aa9a61f%3A0x24ef264085e6a094!2sIndian%20Institute%20Of%20Technology%E2%80%93Madras%20(IIT%E2%80%93Madras)!5e0!3m2!1sen!2sin!4v1733031416151!5m2!1sen!2sin"  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
  </div>-->

</BaseLayout>
