---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import InfoCard from "@components/InfoCard.astro";
import Image from "astro/components/Image.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <!--<div class="text-xl py-1"></div>-->
    <div class="text-5xl font-bold">LogicL<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance" viewBox="0 0 16 16">
  <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
</svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance" viewBox="0 0 16 16">
  <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
</svg>M 3.0</div>
    <div class="text-3xl py-3 font-bold">
      The Algorithmic Chase Begins at IITM Paradox in Margazhi 2025 🚀
    </div>
    <div class="text-xl py-1">January 4<sup>th</sup> - 7<sup>th</sup> <i class="fa fa-map-marker"></i> Online</div>
    <hr class="my-4" />
    <div class="py-2 text-justify">
      <text class="text-lg">
Surprise awaits as the most intelligent buddy, Iris returns to take you to an exciting algorithmic voyage this winter. With over 1000+ registrations pouring in at our last two editions, the excitement was palpable and the competition more fierce. After the astounding success, I've soared back to your campus, ready to ignite your passion for programming, artificial intelligence, and machine learning once again. Prepare to be captivated as we weave together a tapestry of mind-bending challenges designed to push the boundaries of your problem-solving prowess, critical thinking, and technical ingenuity.
      </text>
    </div>
    <div class="py-2 text-justify">
      <text class="text-lg">
It isn't about rote memorization - it's about unleashing your creativity, embracing innovation, and thinking beyond the confines of conventional wisdom. Together, we'll embark on a journey filled with exhilarating twists and turns, where every solution is a testament to your brilliance. Get ready to showcase your talents, learn from your peers, and revel in the sheer joy of unraveling complex problem statements. The stage is set, the challenges await - let's soar to new heights together!
</text>
    </div>
    <div class="py-2 text-justify">
      <text class="text-lg">
        LogicLooM is organised as a beta-technicals event at <a
          href="https://iitmparadox.org"
          target="_blank"
          class="link link-accent"
        >
          IITM Paradox</a
        >.
      </text>
    </div>
    <!-- <div class="mt-8">
      <a href="/event-template-3/registration" download="cpdflink" class="btn btn-outline ml-5">
        button 1
      </a>
    </div> -->

    <div class="text-3xl w-full font-bold">Announcements</div>

    <div class="divider my-0"></div>

    <InfoCard
      title="Registrations"
      img="https://www.specialevents.com/sites/specialevents.com/files/styles/article_featured_retina/public/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
      sub="Via IITM Paradox website"
      url="/event-template-3/register"
      badge="TBA"
      target="_self"
    />

    <div class="divider my-0"></div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Previous editions</div>
  </div>

  <HorizontalCard
    title="LogicLooM 2.0"
    img="https://wayanadiitm.github.io/ml/assets/images/logicloom/DSC_6975.JPG"
    desc="It isn't about rote memorization - it's about unleashing your creativity, embracing innovation, and thinking beyond the confines of conventional wisdom. Together, we'll embark on a journey filled with exhilarating twists and turns, where every solution is a testament to your brilliance. Get ready to showcase your talents, learn from your peers, and revel in the sheer joy of unraveling complex problem statements. The stage is set, the challenges await - let's soar to new heights together!"
    url="https://wayanadiitm.github.io/ml/events/logicloom2"
    badge="Paradox 2024"
    loading="lazy"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="LogicLooM 1.0"
    img="https://wayanadiitm.github.io/ml/assets/images/logicloom/DSC_8227.JPG"
    desc="It isn't about rote memorization - it's about unleashing your creativity, embracing innovation, and thinking beyond the confines of conventional wisdom. Together, we'll embark on a journey filled with exhilarating twists and turns, where every solution is a testament to your brilliance. Get ready to showcase your talents, learn from your peers, and revel in the sheer joy of unraveling complex problem statements. The stage is set, the challenges await - let's soar to new heights together!"
    url="https://wayanadiitm.github.io/ml/events/logicloom1"
    badge="Margazhi 2024"
    loading="lazy"
  />
  

  <!-- <div class="flex justify-between mt-10">
    <div class="w-1/3 bg-white">
       <img src="/" alt="Image 1" class="w-full" /> -->
  <!-- <Image
            src="/"
            width={750}
            height={422}
            format="webp"
            alt="Logo"
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
    </div> -->
  <!-- <div class="w-1/3 bg-white p-2">
      <img src="/" alt="Image 1" class="w-full" />
    </div>
    <div class="w-1/3 bg-white p-2">
      <img src="/" alt="Image 1" class="w-full" />
    </div> -->
  <!-- </div> -->
  <div class="max-w-2xl mx-auto px-5 mt-28">
    <div class="flex flex-col justify-center">
      <div class="divider">Supported By</div>

      <!-- <div class="text-center"> -->

      <!-- <h2 class="font-semibold text-xl">Powered By</h2> -->

      <p class="max-w-md mx-auto mt-2 text-gray-500">
                We are thankful to the Paradox team
            </p>

      <!-- </div> -->

      <div
        class="flex flex-wrap items-center justify-center gap-10 mt-2 md:justify-around"
      >
        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src="https://wayanadiitm.github.io/ml/events/logicloom2/storage/paradox_title.webp"
            width={150}
            height={150}
            format="webp"
            alt="paradox logo"
            class="max-w-full md:max-w-[10rem] rounded-lg"
          />
        </div>

        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src="https://wayanadiitm.github.io/ml/events/logicloom2/storage/whouse.PNG"
            width={150}
            height={150}
            format="png"
            alt="wayanad logo"
            class="max-w-full md:max-w-[5rem] rounded-lg"
          />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
