---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import InfoCard from "@components/InfoCard.astro";
import Image from "astro/components/Image.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <!--<div class="text-xl py-1"></div>-->
    <div class="text-5xl font-bold">Are You Ready?</div>
    <div class="text-3xl py-3 font-bold">
      The Algo-rhythmic Chase Begins!
    </div>
    <div class="text-xl py-1">January 4 - 7th, 2025 <i class="fa fa-map-marker"></i> "Anywhere on Earth"</div>
    <hr class="my-4" />
    <div class="py-2 text-justify">
      <text class="text-lg">
Iris returns to take you to an exciting algorithmic voyage this winter. With over <b>1000+ registrations</b> pouring in our last two editions, the excitement was palpable and the competition more fierce. Be ready to ignite your passion for programming, artificial intelligence and machine learning once again.
      </text>
    </div>
    <div class="py-2 text-justify">
      <text class="text-lg">
The stage is set, the challenges await - let's soar to new heights together and make it a booming success once againnnn!
</text>
    </div>
  
    <div class="text-3xl w-full font-bold"><i class="fa fa-bullhorn" aria-hidden="true"></i> Announcements</div>

    <div class="divider my-0"></div>

    <InfoCard
      title="Registration"
      img="https://www.specialevents.com/sites/specialevents.com/files/styles/article_featured_retina/public/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg"
      sub="Via margazhi.iitmparadox.org"
      url="/register"
      badge="TBA"
      target="_self"
    />

    <div class="divider my-0"></div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">What's in store for this Winter <i class="fa fa-bomb" aria-hidden="true"></i></div>
  </div>

  <HorizontalCard
    title="AlgoX Compete"
    img="https://d2908q01vomqb2.cloudfront.net/c5b76da3e608d34edb07244cd9b875ee86906328/2021/08/04/AdobeStock_203293749.jpeg"
    desc="A ML contest focusing on a NLP task, along with ML101 mentoring sessions"
    url=""
    badge="Hackathon"
    loading="lazy"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Talks"
    img="/workshop.png"
    desc="guest speakers will be updated"
    url=""
    badge="Workshops"
    loading="lazy"
  />
  

  <div class="max-w-2xl mx-auto px-5 mt-28">
    <div class="flex flex-col justify-center">
      <div class="divider">Supported By</div>

      <div
        class="flex flex-wrap items-center justify-center gap-10 mt-2 md:justify-around"
      >
        <div class="text-gray-400 bg-white p-4 rounded-lg shadow flex gap-4 items-center">
          <a href="https://www.iitmparadox.org/" target="_blank"><Image
            src="https://wayanadiitm.github.io/ml/events/logicloom2/storage/paradox_title.webp"
            width={150}
            height={150}
            format="webp"
            alt="paradox logo"
            class="max-w-full md:max-w-[10rem] rounded-lg"
          /></a>
<a href="https://wayanad.iitmbs.org" target="_blank"><Image
            src="https://wayanadiitm.github.io/ml/events/logicloom2/storage/whouse.PNG"
            width={150}
            height={150}
            format="png"
            alt="wayanad logo"
            class="max-w-full md:max-w-[5rem] rounded-lg"
          /></a>
        </div>

      </div>
    </div>
  </div>
</BaseLayout>
