---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Registration & Venue" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Registration</div>
  </div>

  <div class="mb-10 text-justify">
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    <div class="mt-8">
      <a href="https://iitmparadox.org/" target="_blank" class="btn btn-outline ml-5">
      Register
      </a>
    </div>
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Venue</div>
  </div>

  <div class="mb-10 text-justify">
   online
    <div class="mt-8">
      <a href="/" target="_blank" class="btn btn-outline ml-5">
      More info
      </a>
    </div>
    </div>
  </div>

  <!--<div class="mb-10">
    <iframe src=""  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
  </div>-->
  

</BaseLayout>
