---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Registration & Venue" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Registration</div>
  </div>

  <div class="mb-10 text-justify">
    SeHAS is organized as a one-day workshop at the HiPEAC conference. Therefore, each participant (and presenter) must register to the HiPEAC conference to attend SeHAS.
    Registration to the HiPEAC conference includes access to all workshops, including SeHAS, and the main conference. The exact date of SeHAS within the HiPEAC conference will be published soon. You can register here:
    <div class="mt-8">
      <a href="https://www.hipeac.net/2025/barcelona/#/registration/" target="_blank" class="btn btn-outline ml-5">
      Register to HiPEAC
      </a>
    </div>
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Venue</div>
  </div>

  <div class="mb-10 text-justify">
    As SeHAS is organized as a workshop at the HiPEAC conference, the venue is the same as the HiPEAC conference. The HiPEAC conference will take place in Barcelona, Spain, from 20 to 22 January 2025. <b>The SeHAS workshop will take place on January 21, 2025.</b>
    For more information about the venue, please visit the HiPEAC website:
    <div class="mt-8">
      <a href="https://www.hipeac.net/2025/barcelona/#/venue/" target="_blank" class="btn btn-outline ml-5">
      Venue Information
      </a>
    </div>
    </div>
  </div>

  <div class="mb-10">
    <iframe src="https://www.google.com/maps/d/embed?mid=1iASo9NS1NGJ5P44nCHMOCF3ePk7-cow&ehbc=2E312F"  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
  </div>
  

</BaseLayout>
