---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Registration" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Registration</div>
  </div>

  <div class="mb-10 text-justify">
    Event registration will only be possible online via IITM Paradox portal. Please try signing using the IITM student account only.
If you are facing issues in registering for our event on the Paradox website, please communicate with the Paradox team directly at <a href="mailto:webops@iitmparadox.org" class="link link-accent" target="_blank">webops@iitmparadox.org</a> CC-ing us.
<br><br>
The registration form is the same for both our ML contest and workshop sessions.
<br><br>

      <a href="https://iitmparadox.org/" target="_blank">
      <button class="btn btn-primary">Register Here <i class="fa fa-external-link"></i></button>
      </a>

    </div>
  </div>

  <!--<div class="mb-5">
    <div class="text-3xl w-full font-bold">Venue</div>
  </div>

  <div class="mb-10 text-justify">
   online
    <div class="mt-8">
      <a href="/" target="_blank" class="btn btn-outline ml-5">
      More info
      </a>
    </div>
    </div>-->
  </div>

  <!--<div class="mb-10">
    <iframe src=""  width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
  </div>-->
  

</BaseLayout>
