---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Accordion from "../layouts/Accordion.astro";
---

<BaseLayout title="Rules & FAQs" sideBarActiveItemID="Rules">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Rules & FAQs</div>
  </div>

  <div class="container">
    <div class="text-2xl w-full font-bold">Frequently Asked Question</div>
    <br>
    <Accordion />
  </div>
  <br>
  <br>

  <!-- Deadlines and TimeLine Sections-->
  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Participant Activity</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="Submission: closed" />
    <TimeLineElement
      title="Notification: approx. 4 weeks after the submission deadline"
    >
      As the submitted papers are reviewed within the standard IEEE ESL review
      system, we cannot offer a fixed notification date. However, ESL aims to
      notify authors of the review outcome within 4 weeks of the submission
      deadline.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Submission Guidelines</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="Length">
      Up to 4 pages in an IEEE double-column, single-blind, 10-pt format.
      More information on the format can be found <a
      class="link link-accent"
      href="https://ieee-ceda.org/publication/esl/esl-paper-submission"
      >here</a
    >.
    </TimeLineElement>
    <TimeLineElement title="Review process">
      The review is processed by IEEE Embedded Systems Letters (ESL).
    </TimeLineElement>
    <TimeLineElement title="Publication">
      All accepted papers will be published in <a
        class="link link-accent"
        href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=4563995"
        >IEEE ESL</a
      >.
    </TimeLineElement>
    <TimeLineElement title="Presentation">
      Authors of accepted papers will have the opportunity to present their work
      at SeHAS@HIPEAC 2025 in Barcelona, Spain.
      To present a paper at SeHAS, the presenting author must register for the
      HiPEAC conference (see registration details).
    </TimeLineElement>
    <TimeLineElement title="Submission link">
      To submit your paper, please use the following link: <a
        class="link link-accent"
        href="https://mc.manuscriptcentral.com/les-ieee"
        >https://mc.manuscriptcentral.com/les-ieee</a
      >. <p></p><b
        ><span
          class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
          >Important</span
        > To be considered for SeHAS 2025, select the check-box in step 6 in the
        ESL submission portal indicating that you would like your paper to be considered
        for presentation at a conference/workshop that has a tie-up with ESL.
      </b>
    </TimeLineElement>
  </div>

</BaseLayout>

<script>
  // JavaScript to toggle the accordion functionality
  var accordions = document.getElementsByClassName("accordion"); // Get all accordion buttons
  var i;

  // Loop through all accordion buttons and add event listeners
  for (i = 0; i < accordions.length; i++) {
    accordions[i].addEventListener("click", function() {
      // Toggle the 'active' class on the clicked button to show it's active
      this.classList.toggle("active");

      // Get the panel associated with the clicked accordion button
      var panel = this.nextElementSibling;
      // Toggle the panel's visibility
      if (panel.style.display === "block") {
        panel.style.display = "none"; // Hide the panel
      } else {
        panel.style.display = "block"; // Show the panel
      }
    });
  }
</script>

