---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Accordion from "../layouts/Accordion.astro";
---

<BaseLayout title="Rules & FAQs" sideBarActiveItemID="Rules">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Rules & FAQs</div>
  </div>

  <div class="container">
    <div class="text-2xl w-full font-bold">Frequently Asked Questions</div>
    <br>
    <Accordion />
  </div>

<div class="mt-5">
      <a href="" download="" class="btn btn-outline">
        Download Rulebook <i class="fa fa-download" aria-hidden="true"></i>
      </a>
    </div>
<br>
 <div class="mb-5">
    <div class="text-2xl w-full font-bold">Awards <i class="fa fa-trophy" aria-hidden="true"></i></div>
  </div>
<li>Every active participant who's shown some progress in the event will be eligible for a Participation certificate.</li>
<li>Participants who successfully advance to the Finals will receive the Certificate of Achievement.</li>
<li>The top 3 teams from the finale will be awarded with the Certificate of Accomplishment.</li>
<p>Exciting cash rewards and goodies await! Check this section after the budget allocation and sponsorship announcement :)</p>
<br>
<div class="mb-5">
<div class="text-3xl w-full font-bold">ML Contest Guidelines</div>
</div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="Release of Train data">
      The training datasets for both the tasks will be released along with the detailed problem statements, milestones and information on evaluation metrics. Teams can start exploring the dataset, build & train suitable models.
    </TimeLineElement>
    <TimeLineElement title="Release of Unlabelled test set">
      The test set will be provided to the teams, that will then use their developed models to generate predictions.
    </TimeLineElement>
    <TimeLineElement title="Submission of runs and code">
      Each team can submit a max. of 3 run files (i.e. submissions containing the model predicted outcomes... these can be results from different models or same model with different hyper-parameters etc.) Evaluation metrics such as ROUGE, BLEU, AUC-ROC (depending on the task) will be computed to assess the model performance on the test set.
    </TimeLineElement>
    <TimeLineElement title="App-deployment & Presentation">
      Top performers will be ... added
    </TimeLineElement>
    <TimeLineElement title="Submission link">
      To submit your runs, please use our participant portal: <a
        class="link link-accent"
        href="https://logicloom.iitmparadox.org"
        >https://logicloom.iitmparadox.org</a
      >. <p></p><b
        ><span
          class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"
          >Important</span
        > To be Updated
      </b>
    </TimeLineElement>
  </div>

</BaseLayout>

<script>
  // JavaScript to toggle the accordion functionality
  var accordions = document.getElementsByClassName("accordion"); // Get all accordion buttons
  var i;

  // Loop through all accordion buttons and add event listeners
  for (i = 0; i < accordions.length; i++) {
    accordions[i].addEventListener("click", function() {
      // Toggle the 'active' class on the clicked button to show it's active
      this.classList.toggle("active");

      // Get the panel associated with the clicked accordion button
      var panel = this.nextElementSibling;
      // Toggle the panel's visibility
      if (panel.style.display === "block") {
        panel.style.display = "none"; // Hide the panel
      } else {
        panel.style.display = "block"; // Show the panel
      }
    });
  }
</script>

