---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Meet The Speakers" sideBarActiveItemID="speakers">
<div><div class="text-3xl w-full font-bold mb-5">Workshops @ 2025</div>
  </div>

<div class="divider my-0"></div>
<div><div class="text-3xl w-full font-bold mb-5">Previous Editions</div>
  </div>
  <HorizontalCard
    title="Prof. Sudarshan Iyengar"
    img="https://wayanadiitm.github.io/ml/events/logicloom2/storage/profsudarshan.PNG"
    desc="Prof. Iyengar currently serves as the head of the CSE dept. & faculty coordinator of Minor in AI program at IIT RPR. With a Ph.D. from the prestigious IISc, Prof. Sudarshan is renowned for his exemplary teaching prowess. Having conducted over 350 captivating popular science talks, he has engaged students spanning from high school to advanced graduate programs. Moreover, his innovative teaching methodologies have transcended traditional boundaries, with 100+ hours of his online lectures reaching hundreds of thousands of eager learners."
    url="https://in.linkedin.com/in/sudarshan-iyengar-3560b8145"
    badge="Professor"
  />
<HorizontalCard
    title="Dr. Jyothi Krishnan"
    img="https://wayanadiitm.github.io/ml/events/logicloom2/storage/jk.png"
    desc="Dr. Jyothi, our special guest for the event launch, is a multifaceted academic with a diverse background spanning across engineering, mathematics and education. With a BTech from NIT Calicut, an MS from our own institute and a PhD from UC Berkeley, she's cultivated a rich interest in applied mathematics. Throughout her career, she's ventured into various roles including programming, bridge engineering, mathematical research. Currently at the CCL Lab of IITGN, she plays a pivotal role in shaping the minds of future engineers."
    url="https://in.linkedin.com/in/sudarshan-iyengar-3560b8145"
    badge="Assistant Teaching Professor"
  />
  <HorizontalCard
    title="Mr. Piyush Wairale"
    img="https://wayanadiitm.github.io/ml/events/logicloom2/storage/piyushsir2.PNG"
    desc="Piyush Sir is working as the course instructor for Computational Thinking, DBMS, Privacy and Security in Online Social Media at the IITM BS in Data Science programme. He's a Google and Microsoft-Learn certified educator in the AI-ML domain and also a proud IITM alumnus. He's a valued mentor and well-wisher of our event, offering guidance and support to our initiatives."
    url="https://in.linkedin.com/in/piyush-wairale-13a2b478"
    badge="Course Instructor"
  />
</BaseLayout>
