---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="Meet The Team" sideBarActiveItemID="team">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Cores</div>
  </div>

  <div class="overflow-x-auto mb-20">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Position</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        

        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://cdn-icons-png.flaticon.com/128/826/826963.png"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Somsubhra</div>
                <div class="text-sm opacity-50">Kolkata</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            role
            <br />
            <!--<span class="badge badge-ghost badge-sm"
              >role</span
            > -->
          </td>
          <td class="text-center">
            <a
              href="https://linkedin.com"
              target="_blank"
              class="mx-3"
              aria-label="Linkedin"
              title="Linkedin"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                style="fill: currentColor;transform: ;msFilter:;"
                ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                  d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                ></path>
              </svg>
            </a>
          </td>
        </tr>
                <!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://cdn-icons-png.flaticon.com/128/10247/10247503.png"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Goutham M.</div>
                <div class="text-sm opacity-50">Hyderabad</div>
              </div>
            </div>
          </td>
            <td class="text-center">
            role
            <br />
            <!-- <span class="badge badge-ghost badge-sm"
              >role</span
            >
            </td> -->
          </td>
          <td class="text-center">
            <a
              href="https://www.linkedin.com"
              target="_blank"
              class="mx-3"
              aria-label="Linkedin"
              title="Linkedin"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                style="fill: currentColor;transform: ;msFilter:; v"
                ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                  d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                ></path>
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mb-10">
    <div class="text-3xl w-full font-bold">Publicity Team</div>
  </div>

  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Position</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://cdn-icons-png.flaticon.com/128/4775/4775505.png"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Shambhavi</div>
                <div class="text-sm opacity-50">Rajasthan</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            role
            <br />
            <!--<span class="badge badge-ghost badge-sm"
              >role</span
          > -->
          </td>
          <td class="text-center">
            <a
              href="https://www.linkedin.com"
              target="_blank"
              class="mx-3"
              aria-label="Linkedin"
              title="Linkedin"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                style="fill: currentColor;transform: ;msFilter:; v"
                ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                  d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                ></path>
              </svg>
            </a>
          </td>
        </tr>
        <!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://cdn-icons-png.flaticon.com/128/2465/2465301.png"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Rohit</div>
                <div class="text-sm opacity-50">Kerala</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            role
            <br />
            <!--<span class="badge badge-ghost badge-sm">role</span> -->
          </td>
          <td class="text-center">
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              class="mx-3"
              aria-label="Linkedin"
              title="Linkedin"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                style="fill: currentColor;transform: ;msFilter:;"
                ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                  d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                ></path>
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="max-w-2xl mx-auto px-5 mt-28">
    <div class="flex flex-col justify-center">
      <div class="divider">Organized By</div>


      <div
        class="flex flex-wrap items-center justify-center gap-10 mt-2 md:justify-around"
      >
        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src=""
            width={150}
            height={150}
            format="webp"
            alt="logo"
            class="max-w-full md:max-w-[10rem] rounded-lg"
          />
        </div>

        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src=""
            width={150}
            height={150}
            format="webp"
            alt="logo"
            class="max-w-full md:max-w-[8rem] rounded-lg"
          />
        </div>

        <div class="text-gray-400 bg-white p-4 rounded-lg shadow width:10">
          <Image
            src=""
            width={150}
            height={150}
            format="webp"
            alt="logo"
            class="max-w-full md:max-w-[8rem] rounded-lg"
          />
        </div>
        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src=""
            width={150}
            height={150}
            format="webp"
            alt="Ulogo"
            class="max-w-full md:max-w-[8rem] rounded-lg"
          />
        </div>
      </div>
    </div>
  </div> -->
</BaseLayout>
