---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Team Formation Guidelines" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Team Formation Announcement</div>
  </div>

  <div class="mb-10 text-justify">
1️⃣ Those who had chosen to 'form teams themselves' OR 'get allocated to teams by organizers' in the Registration form - but are unable to get team mates, the <b>team allocation will be done from our end and will show up on the event portal</b> dashboard only after the registration closes on 3rd. <b>If you have team-mates in mind, please invite them using the unique code generated on your dashboard by 3rd.</b> No changes will be done to existing teams by us. You can connect with your team mates by <b>tagging them in the event Gspace</b>.
<br><br>
2️⃣ If you initially chose to participate 'SOLO' in the Registration form and now wish to change your decision and form teams on your own, you are free to do so. If you're unable to find team-mates, let us know at logicloom@ds.study.iitm.ac.in by 3rd. Failing to do so, no team allocation will be processed from our end. If you prefer to continue participating solo, no further action is required on your part.
   

      <a href="https://app.logicloom.iitmparadox.org" target="_blank">
      <button class="btn btn-primary">Login <i class="fa fa-external-link"></i></button>
      </a>

    </div>
  </div>


  </div>


  

</BaseLayout>
