---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="Meet The Team" sideBarActiveItemID="team">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Program Committee</div>
  </div>

  <div class="overflow-x-auto mb-20">
    <table class="table">
      <!-- head -->
      <!--<thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Position</th>
          <th></th>
        </tr>
      </thead>-->
      <tbody>
        <!-- row 1 -->
        

        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12 bg-gray-200">
                  <img
                    src="https://wayanadiitm.github.io/contribute/storage/7_2.png"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Somsubhra</div>
                <div class="text-sm opacity-50">Let's introduce you to Som! the one who stirred the pot of innovation around here and initiated me last year. He's currently in the diploma level and a research intern working on GenAI and ML at IISER.</div>
              </div>
            </div>
          </td>
          <td class="text-center">
<span class="badge badge-ghost badge-sm">Coordinator</span>
          </td>
        </tr>
                <!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/events/logicloom1/assets/img/team/3.jpg"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Goutham</div>
                <div class="text-sm opacity-50">Ah, apart from irritating me, he's tackling a CS (AI-ML) degree. But most of the times you might find him curled up with a captivating book (truly a bookworm at heart!) or jamming out on his guitar.</div>
              </div>
            </div>
          </td>
            <td class="text-center">
<span class="badge badge-ghost badge-sm">Coordinator</span>
            </td> 
          </td>
        </tr>

<!-- row 3 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/events/logicloom1/assets/img/team/5.jpeg"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Sayan</div>
                <div class="text-sm opacity-50">Meet Sayan, a diploma-level student boasting a stellar 9.75 CGPA, transitioning from a successful stint in ECE and a professional at RJIL to pursue his passion for Machine Learning. He's looking forward to higher education in AI.</div>
              </div>
            </div>
          </td>
            <td class="text-center">
<span class="badge badge-ghost badge-sm"
              >Volunteer</span
            >
            </td>
          </td>
        </tr>

<!-- row 4 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/events/logicloom1/assets/img/team/2.jpg"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Advait</div>
                <div class="text-sm opacity-50">Here comes another mischievous culprit who led my participants on a merry chase, last Margazhi! Currently in the final sem of the diploma level at IITM, Advait holds a diploma in DS from IIIT-B. He's also contributed as a TA for the CT course.</div>
              </div>
            </div>
          </td>
            <td class="text-center">
<span class="badge badge-ghost badge-sm"
              >Volunteer</span
            >
            </td>
          </td>
        </tr>






      </tbody>
    </table>
  </div>

  <div class="mb-10">
    <div class="text-3xl w-full font-bold">Publicity Team</div>
  </div>

  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <!-- <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Position</th>
          <th></th>
        </tr>
      </thead> -->
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12 bg-gray-200">
                  <img
                    src="https://wayanadiitm.github.io/contribute/storage/pfp4.PNG"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Shambhavi</div>
                <div class="text-sm opacity-50">She's the ultimate sand-seller in the desert and a human megaphone with charisma to spare! A foundational student, she has the remarkable ability to turn even the most mundane meeting into a TED Talk-worthy extravaganza.</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            
           <span class="badge badge-ghost badge-sm"
              >Sponsorship</span
          >
          </td>
        </tr>
        <!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/assets/images/team/rohit.PNG"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Rohit</div>
                <div class="text-sm opacity-50">Here we welcome the newest addition to our team! Currently in the end of his diploma, he's a fun guy who laughs after putting participants in trouble. He'll be handling the management for the first time - any grievances, feel free to target him!</div>
              </div>
            </div>
          </td>
          <td class="text-center">
            <span class="badge badge-ghost badge-sm">Public Relations</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="py-2 text-justify">
      <text class="text-lg">
We're thankful to the Technical and WebOps cores - Aditya and Yuvraj!
</text>
    </div>
  <!-- <div class="max-w-2xl mx-auto px-5 mt-28">
    <div class="flex flex-col justify-center">
      <div class="divider">Organized By</div>


      <div
        class="flex flex-wrap items-center justify-center gap-10 mt-2 md:justify-around"
      >
        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src=""
            width={150}
            height={150}
            format="webp"
            alt="logo"
            class="max-w-full md:max-w-[10rem] rounded-lg"
          />
        </div>

        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src=""
            width={150}
            height={150}
            format="webp"
            alt="logo"
            class="max-w-full md:max-w-[8rem] rounded-lg"
          />
        </div>

        <div class="text-gray-400 bg-white p-4 rounded-lg shadow width:10">
          <Image
            src=""
            width={150}
            height={150}
            format="webp"
            alt="logo"
            class="max-w-full md:max-w-[8rem] rounded-lg"
          />
        </div>
        <div class="text-gray-400 bg-white p-4 rounded-lg shadow">
          <Image
            src=""
            width={150}
            height={150}
            format="webp"
            alt="Ulogo"
            class="max-w-full md:max-w-[8rem] rounded-lg"
          />
        </div>
      </div>
    </div>
  </div> -->
</BaseLayout>
