---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="Meet The Team" sideBarActiveItemID="team">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Program Committee</div>
<text class="text-sm opacity-50">LogicLooM is led by members of WHALE (<u>W</u>ayanad <u>H</u>ouse <u>A</u>I-M<u>L</u> <u>E</u>nthusiasts - Interest Group), an initiative that started in Nov 2023.</text>
  </div>

  <div class="overflow-x-auto mb-20">
    <table class="table">
      <!--<thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Position</th>
          <th></th>
        </tr>
      </thead>-->
      <tbody>
        <!-- row 1 -->
        

        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12 bg-gray-200">
                  <img
                    src="https://wayanadiitm.github.io/contribute/storage/7_2.png"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Somsubhra De</div>
                <div class="text-sm opacity-50">Let's introduce you to Som! the one who stirred the pot of innovation around here and initiated me last year. He's currently in the last term of diploma level and a research intern working on GenAI and ML at IISER.</div>
              </div>
            </div>
          </td>
          <td class="text-center">
<span class="badge badge-ghost badge-sm">Coordinator</span>
          </td>
        </tr>
<!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/events/logicloom1/assets/img/team/2.jpg"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Advait Vats</div>
                <div class="text-sm opacity-50">Here comes another mischievous culprit who led my participants on a merry chase, last Margazhi! Currently in the first term of degree level at IITM, Advait holds a diploma in DS from IIIT-B. He's also contributed as a TA for the CT course.</div>
              </div>
            </div>
          </td>
            <td class="text-center">
<span class="badge badge-ghost badge-sm"
              >Coordinator</span
            >
            </td>
          </td>
        </tr>
                <!-- row 3 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/events/logicloom1/assets/img/team/3.jpg"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Goutham Madineni</div>
                <div class="text-sm opacity-50">Ah, apart from irritating me, he's tackling a CS (AI-ML) degree. But most of the times you might find him curled up with a captivating book (truly a bookworm at heart!) or jamming out on his guitar.</div>
              </div>
            </div>
          </td>
            <td class="text-center">
<span class="badge badge-ghost badge-sm">Coordinator</span>
            </td> 
          </td>
        </tr>

<!-- row 4 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/events/logicloom1/assets/img/team/5.jpeg"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Sayan Bhowmick</div>
                <div class="text-sm opacity-50">Meet Sayan, a diploma-level student boasting a stellar 9.75 CGPA, transitioning from a successful stint in ECE and a professional at RJIL to pursue his passion for Machine Learning. He's looking forward to higher education in AI.</div>
              </div>
            </div>
          </td>
            <td class="text-center">
            </td>
          </td>
        </tr>

<!-- row 5 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/assets/images/team/sa.PNG"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Sachit Agarwal</div>
                <div class="text-sm opacity-50"></div>
              </div>
            </div>
          </td>
            <td class="text-center">
            </td>
          </td>
        </tr>




      </tbody>
    </table>
  </div>

  <div class="mb-10">
    <div class="text-3xl w-full font-bold">Publicity Team</div>
  </div>

  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <!-- <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Position</th>
          <th></th>
        </tr>
      </thead> -->
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/assets/images/team/rohit.PNG"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Rohit Satheesh</div>
                <div class="text-sm opacity-50">Here we welcome the newest addition to our team! Currently in the end of his diploma, he's a fun guy who laughs after putting participants in trouble. He'll be handling the management for the first time - any grievances, feel free to target him!</div>
              </div>
            </div>
          </td>
          <td class="text-center">
          </td>
        </tr>
<!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://wayanadiitm.github.io/ml/assets/images/team/am.PNG"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Anirban Mandal</div>
              </div>
            </div>
          </td>
          <td class="text-center">
          </td>
        </tr>
        <!-- row 3 -->
<tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12 bg-gray-200">
                  <img
                    src="https://wayanadiitm.github.io/contribute/storage/pfp4.PNG"
                    alt="pfp"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Shambhavi Shekhar</div>
              </div>
            </div>
          </td>
          <td class="text-center">
       </td>
        </tr>        
      </tbody>
    </table>
  </div>
<div class="py-2 text-justify">
      <text class="text-sm opacity-50">
We're thankful to the Paradox team, esp. Mayank Jaiswal, Aditya Anand, Vivek, Naman Naitik, Yuvraj and Tamajit for their support!
</text>
    </div>
</BaseLayout>
