---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Team Formation Guidelines" sideBarActiveItemID="cfp">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Team Formation Announcement</div>
  </div>

  <div class="mb-10 text-justify">
🌟 For those who selected either <b>'form teams themselves' or 'be allocated to teams by organizers' during registration, but are unable to find teammates</b>, <b>team allocation will be handled by us based on your level. The allocated teams will be visible on the event portal dashboard only after registration closes on 3rd January</b>.<br>
If you already have teammates in mind, please invite them using the unique code generated on your dashboard by 3rd January. No changes will be made to existing teams once registration closes.
<br>
To connect with your teammates, feel free to tag them in the event Gspace.
<br><br>
🌟 If you initially chose to participate 'SOLO' in the Registration form and now wish to change your decision and form teams on your own, you are free to do so. If you're unable to find team-mates, let us know at logicloom@ds.study.iitm.ac.in by 3rd. Failing to do so, no team allocation will be processed from our end. If you prefer to continue participating solo, no further action is required on your part.   
<br><br>
🌟 If you have team-mates and can form teams yourself, please follow the <a href="https://logicloom.iitmparadox.org/portalguide-m25.pdf" target="_blank" class="text-accent">portal guide</a>.
<br><br>
🌟 All <b>team details will be LOCKED at 11:59 PM IST on 3rd January 2025, immediately after registration closes. Following this, all features related to team management (including team creation, invitations, member additions, exits, and deletions) will be disabled.</b> Please review your team structure and details in advance by logging into the dashboard. <b>No changes (team modifications, joining requests, etc.) will be permitted after 3rd January 2025 under any circumstances.</b>
<br><br>
      <a href="https://app.logicloom.iitmparadox.org" target="_blank">
      <button class="btn btn-primary">Login <i class="fa fa-external-link"></i></button>
      </a>

    </div>
  </div>


  </div>


  

</BaseLayout>
