---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">

<div class="w-fit mx-auto mt-5 mb-6"><div class="w-[20rem] rounded-2xl shadow-xl overflow-hidden">
            
  <div class="pb-2">
    &copy; {today.getFullYear()} LogicLooM Organizers
  </div>
  <div class="inline opacity-75 pb-5">
    Credits: Design by Astrofy, Icons from Flaticon
  </div>

</div></div>
</footer>
<style></style>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>
<script language=JavaScript>
var message="Function Disabled!";

function clickIE4(){
if (event.button==2){
return false;
 }
}

function clickNS4(e){
if (document.layers||document.getElementById&&!document.all){
if (e.which==2||e.which==3){
return false;
}
}
}

if (document.layers){
document.captureEvents(Event.MOUSEDOWN);
document.onmousedown=clickNS4;
}
else if (document.all&&!document.getElementById){
document.onmousedown=clickIE4;
}

document.oncontextmenu=new Function("return false")
</script>
<script>
let backtotop = select('.back-to-top')
  if (backtotop) {
    const toggleBacktotop = () => {
      if (window.scrollY > 100) {
        backtotop.classList.add('active')
      } else {
        backtotop.classList.remove('active')
      }
    }
    window.addEventListener('load', toggleBacktotop)
    onscroll(document, toggleBacktotop)
  }
</script>
