---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} LogicLooM Organizers
  </div>
  <div class="inline opacity-75">
    Credits: Design by Astrofy, Icons from Flaticon
  </div>
</footer>
<style></style>
