---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">

<div class="w-fit mx-auto mt-5 mb-6"><div class="w-[30rem] rounded-2xl shadow-xl overflow-hidden">
            
  <div class="pb-2">
    <br>&copy; {today.getFullYear()} LogicLooM Organizers
  </div>
  <div class="inline opacity-75">
    Credits: Design by Astrofy, Icons from Flaticon<br>
  </div>

</div></div>
</footer>
<style></style>
