---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    
    <!-- Image Container with top margin for spacing -->
    <div class="w-full mx-auto mt-6 mb-4 flex-shrink-0">
      <a href="/event-template-3">
        <div class="w-[16.5rem] h-[8.5rem] rounded-2xl shadow-xl overflow-hidden mx-auto">
          <Image format="png" width={230} height={180} src="/event-template-3/textlogo_new.png" alt="textlogo" />
        </div>
      </a>
    </div>

    <!-- Sidebar Menu: Allow space for the menu to grow but do not overlap the image -->
    <div class="flex-grow overflow-y-auto">
      <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    </div>

    <!-- Sidebar Footer -->
    <SideBarFooter />
  </aside>
</div>
