---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href="/event-template-3">
        <!-- <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto "> -->
          <div class="w-[16.5rem] h-[8.5rem] rounded-2xl shadow-xl overflow-hidden">
           <Image format="png" width={264} height={136} src="https://wayanadiitm.github.io/ml/events/logicloom2/assets/footerlogo.png" alt="event logo"  />
          </div>
        <!-- </div> -->
      </a>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
