---
const faqItems = [
  {
    question: "What's the eligibility to participate?",
    answer: "This is a PAN BS event. All students enrolled in the IITM Data Science or Electronic Systems programme are welcome to register for our event."
  },
  {
    question: "I'm a Foundational student. Should I participate in the ML contest?",
    answer: "Absolutely! We strongly encourage you to join us. No need to worry if you're just starting out and don't have a coding background. We've got you covered with ML-101 (tutorial/mentor) sessions and beginner-friendly resources to help you get started. The goal isn't to master ML or become an expert overnight but to gain a solid understanding of the basics and explore how ML works. This will be a fantastic hands-on opportunity and learning experience. So, take the plunge. You'll be the happiest when you build your first model :)"
  },
{
    question: "Can I attend the workshops online?",
    answer: "Yes. Margazhi 2025 will be conducted virtually. Registration for LogicLooM 3.0 is mandatory for attending the talk sessions."
  },
  {
    question: "How many participants can be there in a team?",
    answer: "Maximum 3."
  },
{
    question: "How useful is it to participate as a team?",
    answer: "Collaboration is an important aspect of ML contents and working as a team offers numerous benefits - not only does it save time but also help you develop essential peer-connect and teamwork skills. Plus, events like these are about learning and sharing, not competing individually like in a graded exam. The true essence lies in collaborating, exchanging ideas and growing together. So we highly recommend working together... it'll make the experience more enriching and enjoyable!"
  },
  {
    question: "I can't see an option to add multiple emails in the registration form. How can I create a team?",
    answer: "That's no problem at all! If you already have a teammate in mind, simply ask them to register individually. Team formation will take place through our dedicated event portal where participants can invite others to join their team and the invitees can accept to become a part of it. It's simple and streamlined - just register and the rest will follow!"
  },
  {
    question: "Can I participate individually?",
    answer: "Yes. While teamwork is encouraged, we understand that some participants may prefer to compete individually. If you have the necessary skills like proficiency in Python, machine learning and NLP, feel free to go solo."
  },
  {
    question: "Can a participant be in more than one team?",
    answer: "NO! That's strictly not allowed."
  },
{
    question: "What is the evaluation metric for the ML Contest?",
    answer: "We will be using ROUGE-L and BLEU metrics. Event specific details will be shared with the registered participants in due time."
  },
{
    question: "Are there any configuration requirements?",
    answer: "Not really. We have carefully reviewed the nature of the task and dataset size to ensure that all code can be executed seamlessly on the free version of Google Colab. You are free to make use of Pro+ accounts if you have. However account subscriptions loaded with GPU credits will not be provided by the organizers."
  },
  {
    question: "Are there any restrictions in the libraries or models we can use? Are pre-trained models allowed?",
    answer: "No restrictions. Teams are allowed to use pre-trained models, open-source code for building their solutions."
  },
{
    question: "Is the team supposed to work strictly independently?",
    answer: "Cross-team collaboration is NOT allowed. Participants in a team are supposed to rely on their own skill and knowledge, with no help from other teams or anyone else."
  },
{
    question: "Will the datasets be provided for the ML contest?",
    answer: "Yes! Usage of external data is NOT allowed."
  },
  {
    question: "Will there be any sessions to clarify doubts regarding the challenge?",
    answer: "Yes, mentoring sessions will start after the end-sem itself. Additionally, assistance sessions will be conducted to help the teams (especially the freshers) during the model training and development phase."
  },
{
    question: "I can't login to the LogicLooM Participant portal.",
    answer: "To access the participants portal, a seamless login system is enabled through Google OAuth integration. Simply sign in using the IITM student G-account used while registering for our event on the Paradox portal. If you attempt to log in with a different account, you'll receive an error message and won't be able to access it. Please write to logicloom@ds.study.iitm.ac.in for any queries."
  },
{
    question: "I have some other questions that haven't been discussed here.",
    answer: "We suggest you to read the event rulebook first, everything has been explained in detail. Still, if you have any general questions or face technical issues, feel free to contact the organizers at logicloom@ds.study.iitm.ac.in. We will try to reply back within one working day."
  }
];

---

<div class="space-y-3">
  {faqItems.map((item, index) => (
    <div key={index} class="collapse collapse-arrow border border-white rounded-box">
      <input type="checkbox" class="peer" />
      <div class="collapse-title text-lg font-semibold peer-checked:bg-primary peer-checked:text-white">
        {item.question}
        <br>
      </div>
      <div class="collapse-content p-1 bg-base-200 px-5">
        <p>{item.answer}</p>
      </div>
    </div>
  ))}
</div>
